.card {
	margin: 30px auto 5rem auto;
	width: 210px;
	height: 210px;
	border-radius: 40px;
	box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
		-5px -5px 30px 7px rgba(0, 0, 0, 0.22);
	cursor: pointer;
	transition: 0.4s;
  text-decoration: none;

	.card-season {
		font-size: 1.2rem;
    margin: 0.262rem 0;
		font-family: "Orbitron", sans-serif;
    letter-spacing: 2px;
		font-weight: 700;
		color: white;
    text-align: center;
    text-decoration: none;
    font-style: none;
	}

  .card-image {
    width: inherit;
    height: 190px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }

	&:hover {
		transform: scale(0.9, 0.9);
		box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
		-5px -5px 30px 15px rgba(0, 0, 0, 0.22);
	}
}
