.seasons-list {
  background: rgb(98,97,98);
  background: linear-gradient(360deg, rgba(98,97,98,1) 0%, rgba(65,64,64,0.9205883036808473) 50%, rgba(23,23,22,1) 100%);

  padding: 3rem 10rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}
